@font-face {
    font-family: 'Trispace';
    src: url('../fonts/Trispace.ttf');
}

.error {
    color: #d71313;
}

.mymodal {
    margin-left: 3%;
    margin-right: 3%;
}

table {
    border:1px solid #948787;
}

.formm {
    box-sizing: border-box;
    position: relative;
    width: 80%;
    height: 620px;
    background: #ffffff;
    border: 1px solid #090010;
    border-radius: 5px;
    font-size: 100%;
    margin-left: 7%;
    margin-top: 6%;
}

#page-title {
    margin-left: 3%;
    margin-top: 1.5%;
    font-size: 2rem;
}

#addAnnouncement {
    margin-left: 3%;
}

body {
    background: #e7e7e7;
}

.announcement-table {
    height: 100%;
    width: 258%;
    display: inline-block;
    position: static;
    left: 22%;
    top: 25%;
    background: #ffffff;
    color: #2a47bd;
}

#table-body {
    color: #000000;
}

.tableFixHead {
    overflow: auto;
    position: static;
    margin-left: 5%;
    width: 86%;
    height: 450px;
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background: #EFF2F6;
}

thead {
    border-radius: 8px 8px 0 0;
    border: 0.2px #948787;
    height: 40px;
}

tbody tr {
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #948787;
    color: #000000;
}

.col1 {
    width: 2.5%;
}

.colEdit {
    width: 45%;
}

.colDelete {
    width: 55%;
}

.col2 {
    min-width: 120px;
}

.col3 {
    min-width: 250px;
}

.col4 {
    min-width: 200px;
}

.deleteButton {
   padding-left: 10px;
}

@media (max-width: 700px) {
    .remove-description {
        display: none;
    }
}





