@font-face {
    font-family: 'Trispace';
    src: url('../fonts/Trispace.ttf');
}

.mymodal {
    margin-left: 3%;
    margin-right: 3%;
}

#page-title {
    margin-left: 3%;
    margin-top: 1.5%;
    font-size: 2rem;
}

.dashboard-table {
    height: 100%;
    width: 100%;
    display: inline-block;
    position: static;
    background: #ffffff;
    color: #2a47bd;
}

table {
    border:1px solid #948787;
}

#table-body {
    color: #000000;

}

.tableFixHead {
    overflow-y: scroll;
    position: static;
    margin-left: 5%;
    width: 82%;
    height: 450px;
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background: #EFF2F6;
}

thead {
    border-radius: 8px 8px 0 0;
    border: 0.2px solid #948787;
    height: 40px;
}

tbody tr {
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #948787;
    color: #000000;
}

.col1 {
    width: 2.5%;
}

.col2 {
    min-width: 120px;
}

.col3 {
    min-width: 250px;
}

.col4 {
    min-width: 200px;
}
