@font-face {
    font-family: 'Trispace';
    src: url('../fonts/Trispace.ttf');
}

.error {
    color: #d71313;
}

.mymodal {
    margin-left: 3%;
    margin-right: 3%;
}

#myContainer {
    margin-left: 3%;
    margin-bottom: 5%;
    margin-top: 4.5%;
}

#page-title {
    font-size: 2rem;
}

body {
    background: #e7e7e7;
}

.dashboard-table {
    height: 100%;
    width: 100%;
    display: inline-block;
    position: static;
    left: 22%;
    top: 25%;
    background: #ffffff;
    margin: auto;
    color: #2a47bd;
}

#table-body {
    color: #000000;
}

.tableFixHead {
    overflow-y: scroll;
    width: 69%;
    height: 450px;
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background: #EFF2F6;
}

thead {
    border-radius: 8px 8px 0 0;
    border: 0.2px #948787;
    height: 50px;
}

tbody tr {
    height: 60px;
    background: #FFFFFF;
    border: 1px solid #948787;
    color: #000000;
}

.col1 {
    padding-left: 25px;
    width: 5%;
}

.col2 {
    min-width: 120px;
}

.col3 {
    min-width: 250px;
}

.col4 {
    min-width: 200px;
}

.deleteButton, .editButton {
    padding-right: 10px;
}

@media (max-width: 700px) {
    .remove-description {
        display: none;
    }
}
