.mymodal {
    margin-left: 3%;
    margin-right: 3%;
}

.page-title {
    margin-top: 1.5%;
    font-size: 2rem;
}

.subtitle {
    margin-left: 1.5%;
    margin-top: 1.5%;
    font-size: 1.5rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

.miniTitle {
    font-size: 1.2rem;
    margin-left: 1.5%;
}

.text {
    margin-left: 1.5%;
    margin-bottom: 0;
    padding-bottom: 0;
}

span.my-small {
    margin-left: 5%;
    color: #948787;
}

.my-container {
    padding-left: 0.5%;
}