@font-face {
    font-family: 'Trispace';
    src: url('../fonts/Trispace.ttf');
}

#page-title {
    font-size: 2rem;
}

#myForm {
    padding: 2px 0 0 50px;
}


.editButton {
    padding-top: 5%;
    padding-left: 50%;
}

.error {
    color: #d71313;
}

.mymodal {
    margin-left: 7.5%;
}
