.gradient-custom {
    background: rgb(76, 95, 204);

    background: -webkit-linear-gradient(to bottom right, rgb(119, 145, 252), rgb(42, 71, 189));

    background: linear-gradient(to bottom right, rgb(119, 145, 252), rgb(42, 71, 189))
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

.error {
    color: #d71313;
}

.btn-primary {
    background: rgb(42, 71, 189);
}