.gradient-custom {
    /* fallback for old browsers */
    background: rgba(125, 42, 189, 0.72);

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, rgb(88, 26, 133), rgb(42, 71, 189));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, rgba(88, 26, 133, 72), rgb(42, 71, 189))
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}
.card-registration .select-arrow {
    top: 13px;
}

.error {
    color: #d71313;
}

.btn-primary {
    background: rgb(88, 26, 133);
}