.mymodal {
    margin-left: 3%;
    margin-right: 3%;
}

.page-title {
    margin-left: 3%;
    margin-top: 1.5%;
    font-size: 1.5rem;
}

.resume-title {
    margin-top: 1.5%;
    font-size: 1.2rem;
}

.error {
    color: #d71313;
}

.fileInput {
    display: none;
}

.fileLabel {
    padding: 10px;
    border: 2px dashed #ccc;
    cursor: pointer;
    text-align: center;
}

.fileLabel:hover {
    background-color: #f9f9f9;
}

.my-cont {
    padding-left: 3%;
    padding-right: 3%;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
    max-width: 70rem;
}

ul.breadcrumb li {
    display: inline;
    font-size: 15px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}