.mymodal {
    margin-left: 3%;
    margin-right: 3%;
}

.formm {
    box-sizing: border-box;
    position: relative;
    width: 80%;
    height: 620px;
    background: #ffffff;
    border: 1px solid #090010;
    border-radius: 5px;
    font-size: 100%;
    margin-left: 7%;
    margin-top: 6%;
}

.page-title {
    margin-left: 3%;
    margin-top: 1.5%;
    font-size: 1.5rem;
}

.resume-title {
    margin-top: 1.5%;
    font-size: 1.2rem;
}

body {
    background: #e7e7e7;
}


.fileInput {
    display: none;
}

.fileLabel {
    padding: 10px;
    border: 2px dashed #ccc;
    cursor: pointer;
    text-align: center;
}

.fileLabel:hover {
    background-color: #f9f9f9;
}
