<link rel="stylesheet" href="../../../static/style/main-navbar-style.css">

<!-- Navbar -->
<nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <img src="../../../static/images/logo.jpeg"
             class="image">

        <ul class="navbar-nav ms-auto d-flex flex-row">

            <a href="/accounts" type="button" class="btn btn-primary btn-sm"
                    data-mdb-target="register">
                <span>Register</span>
            </a>
            &nbsp;&nbsp;&nbsp;
            <a href="/login" type="button" class="btn btn-primary btn-sm"
               data-mdb-target="login">
                <span>Login</span>
            </a>

        </ul>

    </div>
</nav>
<!-- Navbar -->