<!-- Sidebar -->
{{#company}}
<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
  <div class="position-sticky">
    <div class="list-group list-group-flush mx-3 mt-4">

      <a href="/dashboard-company/{{id}}" class="list-group-item list-group-item-action py-2 ripple
       {{#dashboard-companyActive}}active{{/dashboard-companyActive}}" aria-current="true">
        <i class="fas fa-chart-line fa-fw me-3"></i><span>Dashboard</span>
      </a>

      <a href="/announcement/{{id}}" class="list-group-item list-group-item-action py-2 ripple
        {{#announcementActive}}active{{/announcementActive}}">
        <i class="fa-solid fa-list-ul fa-fw me-3"></i><span>Announcement</span>
      </a>

    </div>
  </div>
</nav>
{{/company}}
<!-- Sidebar -->