<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jobs - Accounts</title>
    {{>fragments/links}}
    <link rel="stylesheet" href="../static/style/accounts-style.css">
    <!-- Page style -->
    <style>

    </style>
</head>
<body>
<div class="title"><h2>Choose the right account type for you.</h2></div>

<div class="row d-flex justify-content-center ">
    <div class="card">
        <h1>Candidate</h1>
        <p><a href="/register-candidate" type="button" class="btn btn-primary btn-sm"
              data-mdb-target="register">I want to get a job</a></p>
    </div>
    &nbsp;&nbsp;&nbsp;
    <div class="card">
        <h1>Company</h1>
        <p><a href="/register-company" type="button" class="btn btn-primary btn-sm"
              data-mdb-target="register">I want to recruit</a></p>
    </div>
</div>

<img src="../static/images/jobs-register.jpeg"
     class="img-fluid image" alt="Sample image">
</body>
</html>