<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jobs - Announcement</title>

    <!-- Page style -->
    {{>fragments/links}}
    <link rel="stylesheet" href="../static/style/navigation-style.css">
    <link rel="stylesheet" href="../static/style/announcement-style.css">

</head>
<body>

<!--Main Navigation-->
<header>
    {{>fragments/sidebar}}
</header>

<!--Main layout-->
{{#userApp}}
<main style="margin-top: 30px; margin-left: 50px">
    <div class="card" style="width: 70rem; height: 41rem;">
        <p id="page-title"><b>Announcement</b></p>
        <a type="button" href="/jobs-company/{{id}}" class="btn btn-primary btn-sm" id="addAnnouncement"
           data-mdb-target="#addAnnouncement">
            <i class="fa-solid fa-plus"></i>&nbsp;&nbsp;Add
        </a>
        <div class="container-fluid pt-4 table-responsive-lg">
            <div class="tableFixHead">
                <table class="table table-bordered table-sm announcement-table">
                    <thead>
                    <tr>
                        <th class="col1"></th>
                        <th class="col4">Job name</th>
                        <th class="col4">Job type</th>
                        <th class="col4">Job level</th>
                        <th class="col3">End date</th>
                        <th class="col3">Skills</th>
                        <th class="col3 remove-description">Description</th>
                        <th class="col3">Responsibility</th>
                        <th class="col3">Requirement</th>
                        <th class="col3">Benefit</th>
                    </tr>
                    </thead>

                    <tbody>
                    {{#announcements}}
                    <tr>
                        <td class="col1">
                            <a class="hidden-arrow fa fa-ellipsis-v" id="dropdownMenuButton"
                               role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="min-width: 1px;">
                                <li>
                                    <button type="button" class="btn btn-sm btn-outline-secondary"
                                            id="editButton"
                                            data-mdb-toggle="modal"
                                            data-mdb-target="#edit{{index}}">
                                        <i class="fa-regular fa-pen-to-square"></i>&nbsp;Edit
                                    </button>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-sm btn-outline-secondary"
                                            data-mdb-toggle="modal"
                                            data-mdb-target="#delete{{index}}">
                                        <i class="fa-regular fa-trash-can"></i>&nbsp;Delete
                                    </button>
                                </li>
                            </ul>
                        </td>
                        <td class="col4">{{jobName}}</td>
                        <td class="col4">{{jobType}}</td>
                        <td class="col4">{{jobLevel}}</td>
                        <td class="col4">{{dateEnded}}</td>
                        <td class="col3">{{skills}}</td>
                        <td class="col3 remove-description">{{description}}</td>
                        <td class="col3">{{responsibility}}</td>
                        <td class="col3">{{requirement}}</td>
                        <td class="col3">{{benefit}}</td>
                        <!-- Modal Edit -->
                        <div class="modal modal-lg fade" id="edit{{index}}" tabindex="-1" role="dialog"
                             aria-labelledby="editAnnouncementTitle{{index}}" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <form action="/edit-announcement/{{userApp.id}}/{{id}}"
                                          method="POST"
                                          class=" needs-validation"
                                          name="announcement">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editAnnouncementTitle{{index}}">
                                                Edit
                                                announcement {{jobName}}</h5>
                                            <button type="button" class="btn-close"
                                                    data-mdb-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="mymodal">
                                            <div class="row">
                                                <div class="col-6">
                                                    <label class="form-label" for="jobName{{index}}">Job
                                                        name</label>
                                                    <input type="text" value="{{jobName}}"
                                                           id="jobName{{index}}"
                                                           name="jobName"
                                                           class="form-control"
                                                           disabled/>
                                                </div>
                                                <div class="col-6">
                                                    <label class="form-label" for="jobType{{index}}">Job
                                                        type</label>
                                                    <input type="text" value="{{jobType}}"
                                                           id="jobType{{index}}"
                                                           name="jobType"
                                                           class="form-control"
                                                           disabled/>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-6">
                                                    <label class="form-label" for="jobLevel{{index}}">Job
                                                        level</label>
                                                    <input type="text" value="{{jobLevel}}"
                                                           id="jobLevel{{index}}"
                                                           name="jobLevel"
                                                           class="form-control"
                                                           disabled/>
                                                </div>
                                                <div class="col-6">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="dateEnded{{index}}">End date<span
                                                                class="error">*</span></label>
                                                        <input type="date" id="dateEnded{{index}}" name="dateEnded"
                                                               value="{{dateEnded}}"
                                                               class="form-control" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-12">
                                                    <label class="form-label"
                                                           for="skills{{index}}">Skills<span
                                                            class="error">*</span></label>
                                                    <textarea id="skills{{index}}" rows="4"
                                                              name="skills"
                                                              class="form-control"
                                                              required>{{skills}}</textarea>
                                                </div>
                                            </div>


                                            <br>
                                            <div class="row">
                                                <div class="col-12">
                                                    <label class="form-label"
                                                           for="description{{index}}">Description<span
                                                            class="error">*</span></label>
                                                    <textarea id="description{{index}}" rows="4"
                                                              name="description"
                                                              class="form-control"
                                                              required>{{description}}</textarea>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-12">
                                                    <label class="form-label"
                                                           for="responsibility{{index}}">Responsibility<span
                                                            class="error">*</span></label>
                                                    <textarea id="responsibility{{index}}" rows="4"
                                                              name="responsibility"
                                                              class="form-control"
                                                              required>{{responsibility}}</textarea>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-12">
                                                    <label class="form-label"
                                                           for="requirement{{index}}">Requirements<span
                                                            class="error">*</span></label>
                                                    <textarea id="requirement{{index}}" rows="4"
                                                              name="requirement"
                                                              class="form-control"
                                                              required>{{requirement}}</textarea>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-12">
                                                    <label class="form-label"
                                                           for="benefit{{index}}">Benefits</label>
                                                    <textarea id="benefit{{index}}" rows="4"
                                                              name="benefit"
                                                              class="form-control">{{benefit}}</textarea>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-mdb-dismiss="modal">Close
                                                </button>
                                                <button type="submit" class="btn btn-primary">Save
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>


                        <!-- Modal Delete -->
                        <div class="modal fade" id="delete{{index}}" tabindex="-1" role="dialog"
                             aria-labelledby="deleteAnnouncementTitle{{index}}" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <form action="/delete-announcement/{{userApp.id}}/{{id}}"
                                          method="POST">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteAnnouncementTitle{{index}}">
                                                Delete
                                                announcement {{jobName}}</h5>
                                            <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="mymodal">
                                            Are you sure you want to permanently delete this announcement?
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    data-mdb-dismiss="modal">Close
                                            </button>
                                            <button type="submit" class="btn btn-primary">Delete</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </tr>
                    {{/announcements}}
                    </tbody>
                </table>
            </div>
        </div>
        {{/userApp}}
    </div>
</main>


</body>
</html>