<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jobs - Announcement info</title>

    {{>fragments/links}}
    <link rel="stylesheet" href="../../static/style/navigation-style.css">
    <link rel="stylesheet" href="../../static/style/announcement-info-style.css">

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Page style -->

</head>
<body>

<!--Main Navigation-->
<header>

    {{>fragments/sidebar}}

</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 30px; margin-left: 50px">
    <ul class="breadcrumb">
        <li><a href="/dashboard/{{userApp.id}}">Dashboard</a></li>
        <li>Announcement info</li>
    </ul>
    {{#announcement}}
    <div class="card mt-5 px-3" style="width: 70rem;">
        <div class="my-cont pb-3">
            <div class="row">
                <div class="col-9">
                    <span class="small"><i class="far fa-calendar"></i>&nbsp; {{datePosted}}</span>
                </div>
                <div class="col-3">
                    <span class="small"><i class="far fa-calendar-times"></i>&nbsp; {{dateEnded}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-9">
                    <p class="page-title"><b>{{jobName}}</b></p>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-primary btn-sm mt-4 px-2" id="applied"
                            data-mdb-toggle="modal" data-mdb-target="#apply" style="width: 50%;">
                        <i class="fa-solid fa-plus"></i>&nbsp;&nbsp;Apply
                    </button>
                    <div class="modal modal-lg fade" id="apply" tabindex="-1" role="dialog"
                         aria-labelledby="applyTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <form action="/apply/{{userApp.id}}/{{id}}" method="POST">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="applyTitle">Apply to {{jobName}}</h5>
                                        <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>

                                    <div class="mymodal">
                                        <span>Are you sure you want to apply for this job?</span>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                                data-mdb-dismiss="modal">
                                            Close
                                        </button>
                                        <button type="submit" class="btn btn-primary">Apply</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <i class="fas fa-building"></i>&nbsp;{{companyName}}
                </div>
                <div class="col-3">
                    <i class="fas fa-clock"></i>&nbsp;{{jobType}}
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <i class="fas fa-map-marker-alt"></i>&nbsp; {{companyCity}}, {{companyCountry}}
                </div>
                <div class="col-3">
                    <i class="fas fa-signal"></i>&nbsp;{{jobLevel}}
                </div>
            </div>
            <div class="row">

            </div>
            <div class="row">
                <div class="col-5">
                    <i class="fa fa-phone-square"></i>&nbsp;{{companyPhone}}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <i class="fa fa-envelope"></i>&nbsp;{{companyEmail}}
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card" style="width: 70rem; margin-bottom: 2rem;">
        <div class="my-cont pb-3">
            <p class="subtitle"><b>Company description</b></p>
            <pre class="text">{{companyDescription}}</pre>
        </div>

        <div class="my-cont pb-3">
            <p class="subtitle"><b>Job description</b></p>
            <pre class="text">{{description}}</pre>
        </div>

        <div class="my-cont pb-3">
            <p class="subtitle"><b>Skills</b></p>
            <pre class="text">{{skills}}</pre>
        </div>

        <div class="my-cont pb-3">
            <p class="subtitle"><b>Responsibility</b></p>
            <pre class="text">{{responsibility}}</pre>
        </div>

        <div class="my-cont pb-3">
            <p class="subtitle"><b>Requirement</b></p>
            <pre class="text">{{requirement}}</pre>
        </div>

        {{^areBenefits}}
        <div class="my-cont pb-3">
            <p class="subtitle"><b>Benefits</b></p>
            <pre class="text">{{benefit}}</pre>
        </div>
        {{/areBenefits}}
    </div>
    {{#error}}
    <script>alert("You need to upload a resume or complete your resume!")</script>
    {{/error}}

    {{#duplicate}}
    <script>alert("You have already applied for this job!")</script>
    {{/duplicate}}

    {{/announcement}}

</main>
</body>
<script>
    function replaceNewLines(text) {
        return text.replace('\n', "<br>");
    }
</script></html>