<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jobs - Candidate Profile</title>

    {{>fragments/links}}
    <link rel="stylesheet" href="../../../static/style/navigation-style.css">
    <link rel="stylesheet" href="../../../static/style/resume-style.css">

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Page style -->

</head>
<body>

<!--Main Navigation-->
<header>

    {{>fragments/sidebar}}

</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 30px; margin-left: 50px">
    <ul class="breadcrumb">
        <li><a href="/dashboard-company/{{userApp.id}}">Dashboard</a></li>
        <li><a href="/candidate-announcement/{{userApp.id}}/{{announcementId}}">Announcement info</a></li>
        <li>Candidate info</li>
    </ul>
    {{#candidate}}
    <div class="card" style="width: 70rem; height: 5rem; margin-bottom: 2rem;">
        <div class="row">
            <div class="col-4 mt-3 px-5">
                <p class="page-title"><b>{{firstName}} {{lastName}}</b></p>
            </div>
            {{^isAccepted}}
            <div class="col-2 mt-4">
                <button type="button" class="btn btn-primary btn-sm" id="accept"
                        data-mdb-toggle="modal" data-mdb-target="#accepted">
                    <i class="fas fa-upload"></i>&nbsp;&nbsp;Accepted
                </button>

                <div class="modal fade" id="accepted" tabindex="-1" role="dialog"
                     aria-labelledby="acceptedTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <form action="/accepted-candidate/{{userApp.id}}/{{announcementId}}/{{id}}"
                                  method="POST">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="acceptedTitle">
                                        Accept {{firstName}} {{lastName}}</h5>
                                    <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="mymodal">
                                    Are you sure you want to accept this candidate?
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                            data-mdb-dismiss="modal">Close
                                    </button>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {{/isAccepted}}
            {{^interview}}
            <div class="col-3 mt-4 px-3">
                <button type="button" class="btn btn-primary btn-sm" id="scheduleInterview"
                        data-mdb-toggle="modal" data-mdb-target="#interview">
                    <i class="fas fa-upload"></i>&nbsp;&nbsp;Schedule interview
                </button>
                <div class="modal fade" id="interview" tabindex="-1" role="dialog"
                     aria-labelledby="interviewTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <form action="/interview-candidate/{{userApp.id}}/{{announcementId}}/{{id}}"
                                  method="POST">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="interviewTitle">
                                        Accept {{firstName}} {{lastName}}</h5>
                                    <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="mymodal">
                                    Are you sure you want to schedule an interview with this candidate?
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                            data-mdb-dismiss="modal">Close
                                    </button>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {{/interview}}
            {{^isAccepted}}
            <div class="col-2 mt-4 px-0">
                <button type="button" class="btn btn-primary btn-sm" id="reject"
                        data-mdb-toggle="modal" data-mdb-target="#rejected">
                    <i class="fas fa-upload"></i>&nbsp;&nbsp;Rejected
                </button>
            </div>
            <div class="modal fade" id="rejected" tabindex="-1" role="dialog"
                 aria-labelledby="rejectedTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <form action="/rejected-candidate/{{userApp.id}}/{{announcementId}}/{{id}}"
                              method="POST">
                            <div class="modal-header">
                                <h5 class="modal-title" id="rejectedTitle">
                                    Rejected {{firstName}} {{lastName}}</h5>
                                <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="mymodal">
                                Are you sure you want to reject this candidate?
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                        data-mdb-dismiss="modal">Close
                                </button>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {{/isAccepted}}
        </div>
    </div>
    </div>
    {{#isDocument}}
    <div class="card" style="width: 70rem; height: 12rem;">
        <p class="page-title"><b>Resume file</b></p>

        <!--Main layout-->
        <div class="my-cont pt-1">
            <br>

            <table class="table table-bordered table-sm">
                <tr>
                    <td class="col-4">
                        {{documentName}}
                    </td>
                    <td class="col-4">
                        <button type="button" class="btn btn-primary btn-sm" id="downloadFile"
                                onclick="downloadResume('{{documentName}}')">
                            <i class="fas fa-download"></i>&nbsp;&nbsp;Download
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    {{/isDocument}}
    {{^isResumeForm}}
    <br>
    <div class="card" style="width: 70rem; margin-bottom: 2rem;">
        <p class="page-title"><b>Resume form</b></p>
        <div class="container-fluid pb-4">
            {{#personalInfo}}
            <div class="card" style="width: 65rem; margin-left: 2rem;">
                <div class="container-fluid pt-1">
                    <p class="resume-title"><b>Personal info</b></p>

                    <div class="container-fluid pt-3">
                        <div class="col-10">
                            <table class="table table-bordered table-sm">
                                <tr>
                                    <td class="col-4">
                                        Email
                                    </td>
                                    <td class="col-4">
                                        {{candidate.email}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-4">
                                        Phone number
                                    </td>
                                    <td class="col-4">
                                        {{candidate.phone}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-4">
                                        Location
                                    </td>
                                    <td class="col-4">
                                        {{location}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-4">
                                        Language
                                    </td>
                                    <td class="col-4">
                                        {{language}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-4">
                                        Role
                                    </td>
                                    <td class="col-4">
                                        {{actualRole}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-4">
                                        Main areas of activity
                                    </td>
                                    <td class="col-4">
                                        {{mainAreas}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-4">
                                        Skills
                                    </td>
                                    <td class="col-4">
                                        {{skills}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            {{/personalInfo}}
            {{#workExperiences}}
            <br>

            <div class="card" style="width: 65rem; margin-left: 2rem;">
                <div class="container-fluid pt-1">
                    <p class="resume-title"><b>Work experience</b></p>


                    <div class="container-fluid pt-3">
                        <div class="col-10">
                            <div><b>{{companyName}}</b></div>

                            <table class="table table-bordered table-sm">
                                <tr>
                                    <td>
                                        Period
                                    </td>
                                    <td>
                                        {{startDate}} - {{endDate}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Role
                                    </td>
                                    <td>
                                        {{role}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Projects
                                    </td>
                                    <td>
                                        {{projectsDescription}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            {{/workExperiences}}
            {{#certification}}
            <br>
            <div class="card" style="width: 65rem; margin-left: 2rem;">
                <div class="container-fluid pt-1">
                    <p class="resume-title"><b>Certification</b></p>
                    <div class="container-fluid pt-3">
                        <div class="col-10">
                            <div><b>{{Name}}</b></div>
                            <table class="table table-bordered table-sm">
                                <tr>
                                    <td>
                                        Year
                                    </td>
                                    <td>
                                        {{year}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {{/certification}}
            {{#education}}
            <br>
            <div class="card" style="width: 65rem; margin-left: 2rem;">
                <div class="container-fluid pt-1">
                    <p class="resume-title"><b>Education</b></p>


                    <div class="container-fluid pt-3">
                        <div class="col-10">
                            <div><b>{{Degree}}</b></div>
                            <table class="table table-bordered table-sm">
                                <tr>
                                    <td>
                                        University
                                    </td>
                                    <td>
                                        {{university}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Period
                                    </td>
                                    <td>
                                        {{startDate}} - {{endDate}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Speciality
                                    </td>
                                    <td>
                                        {{speciality}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {{/education}}
        </div>
    </div>
    {{/isResumeForm}}
    {{/candidate}}
</main>
</body>

<script>
    document.getElementById("fileInput").addEventListener("change", function () {
        var fileName = this.value.split("\\").pop();
        var label = document.getElementById("fileInputLabel");
        var fileNameDisplay = document.getElementById("fileNameDisplay");
        var clearFileNameButton = document.getElementById("clearFileName");
        if (fileName) {
            label.textContent = "Choose a file";
            fileNameDisplay.textContent = fileName;
            clearFileNameButton.style.display = "inline-block";
        } else {
            label.textContent = "Choose a file";
            fileNameDisplay.textContent = "";
            clearFileNameButton.style.display = "none";
        }
    });

    var modal = document.getElementById("addFile");
    modal.addEventListener("show.bs.modal", function () {
        var fileInput = document.getElementById("fileInput");
        var label = document.getElementById("fileInputLabel");
        var fileNameDisplay = document.getElementById("fileNameDisplay");
        var clearFileNameButton = document.getElementById("clearFileName");
        fileInput.value = "";
        label.textContent = "Choose a file";
        fileNameDisplay.textContent = "";
        clearFileNameButton.style.display = "none";
    });

    document.getElementById("clearFileName").addEventListener("click", function () {
        var fileInput = document.getElementById("fileInput");
        var label = document.getElementById("fileInputLabel");
        var fileNameDisplay = document.getElementById("fileNameDisplay");
        fileInput.value = "";
        label.textContent = "Choose a file";
        fileNameDisplay.textContent = "";
        this.style.display = "none";
    });

    function downloadResume(documentName) {
        var downloadUrl = "/download/" + encodeURIComponent(documentName);

        fetch(downloadUrl)
            .then(response => response.blob())
            .then(blob => {
                var a = document.createElement("a");
                a.href = URL.createObjectURL(blob);
                a.download = documentName;

                a.click();
            })
            .catch(error => {
                console.error("Error downloading file:", error);
            });
    }

</script>
</html>