<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jobs - Candidates</title>

    {{>fragments/links}}
    <link rel="stylesheet" href="../../static/style/navigation-style.css">
    <link rel="stylesheet" href="../../static/style/candidate-announcement-style.css">
    <!-- Page style -->

</head>
<body>

<!--Main Navigation-->
<header>

    {{>fragments/sidebar}}
    {{>fragments/navbar}}

</header>

<main style="margin-top: 80px; margin-left: 50px">
    <div class="card" style="width: 70rem; height: 41rem;">
        <p id="page-title"><b>Candidates</b></p>
        <div class="container-fluid pt-4 table-responsive-lg">
            <div class="tableFixHead">
                <table class="table table-bordered table-sm dashboard-table">
                    <thead>
                    <tr>
                        <th class="col1"></th>
                        <th class="col2">First Name</th>
                        <th class="col2">Last Name</th>
                        <th class="col3">Email</th>
                        <th class="col2">Phone number</th>
                        <th class="col1">Accepted</th>
                    </tr>
                    </thead>

                    <tbody>
                    {{#candidates}}
                    <tr>
                        <td class="col1"></td>
                        <td class="col2">{{firstName}}</td>
                        <td class="col2">{{lastName}}</td>
                        <td class="col3">{{email}}</td>
                        <td class="col2">{{phoneNumber}}</td>
                        <td class="col2">{{accepted}}</td>
                    </tr>
                    {{/candidates}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
</body>
</html>