<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jobs - Candidates</title>

    {{>fragments/links}}
    <link rel="stylesheet" href="../../static/style/navigation-style.css">
    <link rel="stylesheet" href="../../static/style/candidate-announcement-style.css">

    <!-- Page style -->

</head>
<body>

<!--Main Navigation-->
<header>

    {{>fragments/sidebar}}

</header>

<main style="margin-top: 30px; margin-left: 50px">
    <ul class="breadcrumb">
        <li><a href="/dashboard-company/{{userApp.id}}">Dashboard</a></li>
        <li>Announcement info</li>
    </ul>
    <div class="card mt-0" style="width: 70rem; height: 28rem;">
        <p class="page-title"><b>Announcement</b></p>
        <div id="myForm">
            {{#announcement}}
            <div class="row">
                <div class="col-3 mb-2">
                    <label for="jobName"><b>Job name</b></label>
                    <input id="jobName" class="form-control"
                           name="name" disabled value="{{jobName}}">
                </div>
                <div class="col-3 mb-2">
                    <label for="jobType"><b>Job type</b></label><br>
                    <input value="{{jobType}}" id="jobType" class="form-control"
                           name="jobType" disabled>
                </div>
                <div class="col-3 mb-2">
                    <label for="jobLevel"><b>Job level</b></label>
                    <input value="{{jobLevel}}" id="jobLevel" class="form-control"
                           name="jobLevel" disabled>
                </div>
                <div class="col-3 mb-2">
                    <label for="dateEnded"><b>End date</b></label>
                    <input value="{{dateEnded}}" id="dateEnded" class="form-control"
                           name="dateEnded" disabled>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-6">
                    <label for="skills"><b>Skills</b></label><br>
                    <textarea id="skills" rows="4"
                              name="skills"
                              class="form-control"
                              disabled>{{skills}}</textarea>
                </div>
                <div class="col-6 ">
                    <label for="description"><b>Description</b></label><br>
                    <textarea id="description" rows="4"
                              name="description"
                              class="form-control"
                              disabled>{{skills}}</textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <label for="requirement"><b>Requirements</b></label><br>
                    <textarea id="requirement" rows="4"
                              name="requirement"
                              class="form-control"
                              disabled>{{requirement}}</textarea>
                </div>
                <div class="col-6">
                    <label for="responsibility"><b>Responsibility</b></label><br>
                    <textarea id="responsibility" rows="4"
                              name="responsibility"
                              class="form-control"
                              disabled>{{responsibility}}</textarea>
                </div>
            </div>
        </div>
        {{/announcement}}
    </div>
    <br>
    <div class="card mb-5" style="width: 70rem; height: 41rem;">
        <p class="page-title"><b>Candidates</b></p>
        <div class="container-fluid pt-4 table-responsive-lg">
            <div class="tableFixHead">
                <table class="table table-bordered table-sm dashboard-table">
                    <thead>
                    <tr>
                        <th class="col1"></th>
                        <th class="col2">First Name</th>
                        <th class="col2">Last Name</th>
                        <th class="col3">Email</th>
                        <th class="col2">Phone number</th>
                        <th class="col2">Applied date</th>
                        <th class="col4">Decision</th>
                    </tr>
                    </thead>

                    <tbody>
                    {{#candidates}}
                    <tr>
                        <td class="col1">
                            <div>
                                <a class="hidden-arrow fa fa-ellipsis-v"
                                   role="button" data-mdb-toggle="dropdown">
                                </a>
                                <ul class="dropdown-menu" style="min-width: 1px;">
                                    {{^isOperator}}
                                    <li>
                                        <a type="button" href="/candidate/{{userApp.id}}/{{announcement.id}}/{{id}}"
                                           class="btn btn-sm btn-outline-secondary"  style="width: 100%;">
                                            <i class="fas fa-poll-h"></i>&nbsp; Show details
                                        </a>
                                    </li>
                                    {{/isOperator}}
                                    {{^isDecider}}
                                    <li>
                                        <button type="button" class="btn btn-sm btn-outline-secondary"
                                                style="width: 100%;"
                                                data-mdb-toggle="modal" data-mdb-target="#sendDecision{{id}}">
                                            <i class="fas fa-upload"></i>&nbsp;&nbsp;Send decision
                                        </button>
                                    </li>
                                    <li>
                                        <button type="button" class="btn btn-sm btn-outline-secondary"
                                                style="width: 100%;"
                                                data-mdb-toggle="modal" data-mdb-target="#sendScheduleInterview{{id}}">
                                            <i class="fas fa-upload"></i>&nbsp;&nbsp;Schedule interview
                                        </button>
                                    </li>
                                    {{/isDecider}}
                                </ul>
                            </div>
                        </td>
                        <td class="col2">{{firstName}}</td>
                        <td class="col2">{{lastName}}</td>
                        <td class="col3">{{email}}</td>
                        <td class="col2">{{phone}}</td>
                        <td class="col2">{{appliedDate}}</td>
                        <td class="col4">{{decision}}</td>

                        <div class="modal fade" id="sendDecision{{id}}" tabindex="-1" role="dialog"
                             aria-labelledby="sendDecisionTitle{{id}}" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centred" role="document">
                                <div class="modal-content">
                                    <form action="/send-decision/{{userApp.id}}/{{announcement.id}}/{{id}}"
                                          method="POST" name="decision">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="sendDecisionTitle{{id}}">
                                                Accept {{firstName}} {{lastName}}
                                            </h5>
                                            <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="mymodal">
                                            <select  id="decision"
                                                     class="form-control" name="decision"
                                                     required>
                                                <option style="display: none" value="">Select decision</option>
                                                <option class="autocomplete-item" value="Accepted"> Accepted</option>
                                                <option class="autocomplete-item" value="Rejected"> Rejected</option>
                                            </select>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    data-mdb-dismiss="modal">Close
                                            </button>
                                            <button type="submit" class="btn btn-primary">Send</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="sendScheduleInterview{{id}}" tabindex="-1" role="dialog"
                             aria-labelledby="sendScheduleInterviewTitle{{id}}" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centred" role="document">
                                <div class="modal-content">
                                    <form action="/schedule-interview/{{userApp.id}}/{{announcement.id}}/{{id}}"
                                          method="POST" name="dateAndHour">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="sendScheduleInterviewTitle{{id}}">
                                                Schedule interview for {{firstName}} {{lastName}}
                                            </h5>
                                            <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="mymodal">
                                            <input type="datetime-local" id="dateAndHour" name="dateAndHour">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    data-mdb-dismiss="modal">Close
                                            </button>
                                            <button type="submit" class="btn btn-primary">Send</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </tr>
                    {{/candidates}}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.5.0/js/bootstrap.min.js"></script>
</body>
</html>