<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skill Lab - Categories</title>

    {{>fragments/links}}
    <link rel="stylesheet" href="../static/style/navigation-style.css">
    <!-- Page style -->
    <link rel="stylesheet" href="../static/style/categories-style.css">

</head>
<body>

<!--Main Navigation-->
<header>

    {{>fragments/sidebar}}
    {{>fragments/navbar}}

</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 100px;">
    <div class="container-fluid container-custom pt-4 table-responsive-lg">

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#addCategory">
            <i class="fa-solid fa-plus fa-fw me-3"></i>Add
        </button>
        <br>

        <!-- Modal Add -->
        <div class="modal fade" id="addCategory" tabindex="-1" role="dialog" aria-labelledby="addCategoryTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form action="/add-category" method="POST" name="category">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addCategoryTitle">Add category</h5>
                        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="mb-3">
                                <div class="form-outline">
                                    <input type="text" id="name" name="name" class="form-control form-control-lg" required />
                                    <label class="form-label" for="name">Name<span class="error">*</span></label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="mb-3">
                                <div class="form-outline">
                                    <textarea id="description" rows="4"
                                              name="description" class="form-control form-control-lg"></textarea>
                                    <label class="form-label" for="description">Description</label>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>

        <table id="dtBasicExample" class="table table-hover table-striped table-bordered table-sm">

            <thead>
            <tr>
                <th class="th-sm">Nr.</th>
                <th class="th-sm">Name</th>
                <th class="th-sm remove-description">Description</th>
                <th class="th-sm">Actions</th>
            </tr>
            </thead>

            <tbody>
            {{#categoryList}}
            <tr>
                <td>{{index}}</td>
                <td class="col-2">{{name}}</td>
                <td class="remove-description">{{description}}</td>
                <td class="col-3">

                    <div class="row">
                        <div class="d-flex justify-content-end col-6">

                            <button type="button" class="btn btn-primary icon-spacing" data-mdb-toggle="modal" data-mdb-target="#edit{{index}}">
                                <i class="fa-regular fa-pen-to-square"></i>
                                <span class="remove-action-name">Edit</span>
                            </button>

                            <!-- Modal Edit -->
                            <div class="modal fade" id="edit{{index}}" tabindex="-1" role="dialog" aria-labelledby="editCategoryTitle{{index}}" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <form action="/edit-category/{{id}}" method="POST" name="category">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="editCategoryTitle{{index}}">Edit category {{name}}</h5>
                                                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">

                                                <div class="row">
                                                    <div class="mb-3">
                                                        <div class="form-outline">
                                                            <input type="text" value="{{name}}" id="name{{index}}" name="name" class="form-control form-control-lg" required />
                                                            <label class="form-label" for="name{{index}}">Name<span class="error">*</span></label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="mb-3">
                                                        <div class="form-outline">
                                                            <textarea id="description{{index}}" rows="4"
                                                                      name="description" class="form-control form-control-lg">{{description}}</textarea>
                                                            <label class="form-label" for="description{{index}}">Description</label>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Edit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="d-flex justify-content-start col-6">

                            <button type="button" class="btn btn-primary icon-spacing" data-mdb-toggle="modal" data-mdb-target="#delete{{index}}">
                                <i class="fa-regular fa-trash-can"></i>
                                <span class="remove-action-name">Delete</span>
                            </button>

                            <!-- Modal Delete -->
                            <div class="modal fade" id="delete{{index}}" tabindex="-1" role="dialog" aria-labelledby="deleteCategoryTitle{{index}}" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <form action="/delete-category/{{id}}" method="POST">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteCategoryTitle{{index}}">Delete category {{name}}</h5>
                                                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to permanently delete this category?
                                                <br>
                                                <p class="error">This will delete all related skills and evaluations.</p>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Delete</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </td>
            </tr>
            {{/categoryList}}
            </tbody>
        </table>

    </div>
    {{#duplicate}}
    <script>alert("Category already exists!")</script>
    {{/duplicate}}
</main>
<!--Main layout-->

<script>
    document.querySelectorAll('.form-outline').forEach((formOutline) => {
        new mdb.Input(formOutline).init();
    });
</script>

</body>
</html>