<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jobs - Dashboard</title>

    {{>fragments/links}}
    <link rel="stylesheet" href="../static/style/navigation-style.css">
    <link rel="stylesheet" href="../static/style/dashboard-company-style.css">
    <!-- Page style -->

</head>
<body>

<!--Main Navigation-->
<header>

    {{>fragments/sidebar}}
    {{>fragments/navbar}}

</header>
<!--Main Navigation-->

<!--Main layout-->

<main>
    <div class="formm">
        <p id="page-title"><b>Dashboard</b></p>
        <div class="container-fluid pt-4 table-responsive-lg">
            <div class="tableFixHead">
                <table class="table table-bordered table-sm dashboard-table">
                    <thead>
                    <tr>
                        <th class="col1"></th>
                        <th class="col3">Job name</th>
                        <th class="col3">Number of candidates</th>
                    </tr>
                    </thead>

                    <tbody>
                    {{#announcements}}
                    <tr>
                        <td class="col1">
                            <div>
                                <a class="hidden-arrow fa fa-ellipsis-v"
                                   role="button" data-mdb-toggle="dropdown">
                                </a>
                                <ul class="dropdown-menu">
                                    <a type="button" href="/candidate-announcement/{{userCompany.id}}/{{id}}"
                                       class="btn btn-sm">
                                        <i class="fas fa-poll-h"></i>&nbsp;
                                        Show details
                                    </a>

                                </ul>
                            </div>
                        </td>
                        <td class="col-5">{{jobName}}</td>
                        <td class="col-4">{{numberOfCandidates}}</td>
                    </tr>
                    {{/announcements}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

<!--Main layout-->
</body>
</html>