<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jobs - Dashboard</title>

    {{>fragments/links}}
    <link rel="stylesheet" href="../static/style/navigation-style.css">
    <link rel="stylesheet" href="../static/style/dashboard-company-style.css">
    <!-- Page style -->

</head>
<body>

<!--Main Navigation-->
<header>

    {{>fragments/sidebar}}

</header>
<!--Main Navigation-->

<!--Main layout-->

<main style="margin-top: 30px; margin-left: 50px">
    <div class="card" style="width: 70rem; height: 41rem;">
        <p id="page-title"><b>Dashboard</b></p>
        <div class="container-fluid pt-4 table-responsive-lg">
            <div class="tableFixHead">
                <table class="table table-bordered table-sm dashboard-table">
                    <thead>
                    <tr>
                        <th class="col1"></th>
                        <th class="col-5">Job name</th>
                        <th class="col-5">Number of candidates</th>
                        <th class="col-1">Available</th>
                    </tr>
                    </thead>

                    <tbody>
                    {{#announcements}}
                    <tr>
                        <td class="col1">
                            <div>
                                <a class="hidden-arrow fa fa-ellipsis-v"
                                   role="button" data-mdb-toggle="dropdown">
                                </a>
                                <ul class="dropdown-menu" style="min-width: 1px;">
                                    <li>
                                    <a type="button" href="/candidate-announcement/{{userApp.id}}/{{id}}"
                                       class="btn btn-sm btn-outline-secondary">
                                        <i class="fas fa-poll-h"></i>&nbsp;
                                        Show details
                                    </a>
                                    </li>
                                    <li>
                                        <button type="button" class="btn btn-sm btn-outline-secondary"
                                                style="width: 100%;"
                                                data-mdb-toggle="modal"
                                                data-mdb-target="#delete{{index}}">
                                            <i class="fa-regular fa-trash-can"></i>&nbsp;Delete
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td class="col-5">{{jobName}}</td>
                        <td class="col-5">{{numberOfCandidates}}</td>
                        <td class="col-1">{{available}}</td>
                    </tr>
                    <!-- Modal Delete -->
                    <div class="modal fade" id="delete{{index}}" tabindex="-1" role="dialog"
                         aria-labelledby="deleteAnnouncementTitle{{index}}" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <form action="/delete-announcement-dashboard/{{userApp.id}}/{{id}}"
                                      method="POST">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteAnnouncementTitle{{index}}">
                                            Delete
                                            announcement {{jobName}}</h5>
                                        <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="mymodal">
                                        Are you sure you want to permanently delete this announcement?
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                                data-mdb-dismiss="modal">Close
                                        </button>
                                        <button type="submit" class="btn btn-primary">Delete</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {{/announcements}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</main>

<!--Main layout-->
</body>
</html>