<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Jobs - Dashboard</title>

    {{>fragments/links}}
    <link rel="stylesheet" href="../static/style/navigation-style.css">
    <!-- Page style -->

</head>
<body>

<!--Main Navigation-->
<header>

    {{>fragments/sidebar}}
    {{>fragments/navbar}}

</header>
<!--Main Navigation-->

<!--Main layout-->

<main style="margin-top: 58px;">
    <div class="container pt-4"><label>
        <input th:value="${#authentication.name}">
    </label>
    </div>
</main>

<!--Main layout-->


</body>
</html>