<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jobs - My Profile</title>

    {{>fragments/links}}
    <link rel="stylesheet" href="../static/style/navigation-style.css">
    <link rel="stylesheet" href="../static/style/company-profile-style.css">
    <!-- Page style -->

</head>
<body>

<!--Main Navigation-->
<header>

    {{>fragments/sidebar}}
    {{>fragments/navbar}}

</header>
<!--Main Navigation-->

<!--Main layout-->
<main id="content">
    <div class="container pt-4">
        <div class="formm">
            <form class="form-container" method="post" enctype="multipart/form-data">
                {{#company}}
                <div id="myForm">
                    <div class="row">
                        <div class="col-6">
                            <p id="page-title"><b>My Profile</b></p>
                        </div>
                        <div class="col-6">
                            <div id="editButton">
                                <button type="button" class="btn btn-primary icon-spacing" data-mdb-toggle="modal"
                                        data-mdb-target="#edit{{id}}">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                    <span class="remove-action-name">Edit</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="companyName"><b>Company name</b></label><br>
                            <input maxlength="100" id="companyName" name="name" disabled value="{{companyName}}">
                            <br><br>
                        </div>
                        <div class="col-6">
                            <label for="email"><b>Email</b></label><br>
                            <input type="email" value="{{email}}" id="email" name="email" disabled>
                            <br><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="phone"><b>Phone number</b></label><br>
                            <input type="text" value="{{phoneNumber}}" id="phone" name="phone" disabled>
                            <br><br>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <label for="address"><b>Address</b></label><br>
                            <input type="text" value="{{address}}" id="address" name="address" disabled>
                            <br><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="country"><b>Country</b></label><br>
                            <input type="text" value="{{country}}" id="country" name="country" disabled>
                            <br><br>
                        </div>
                        <div class="col-6">
                            <label for="city"><b>City</b></label><br>
                            <input type="text" value="{{city}}" id="city" name="city" disabled>
                            <br><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="description"><b>Company description</b></label>
                            <br>
                            <textarea maxlength="250" class="textarea_component" id="description" name="description"
                                      rows="4"
                                      cols="25" disabled>{{description}}</textarea>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="d-flex justify-content-end col-6">
        <!-- Modal Edit -->
        <div class="modal modal-lg fade" id="edit{{id}}" tabindex="-1" role="dialog" aria-labelledby="editCompany{{id}}"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form action="/edit/{{id}}" method="POST" name="company">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editCompany{{id}}">Edit profile</h5>
                            <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="mymodal">
                            <div class="mb-3">
                                <div class="form-outline">
                                    <div class="row">
                                        <div class="col-6">
                                            <label for="companyName{{id}}">Company name<span
                                                    class="error">*</span></label><br>
                                            <input id="companyName{{id}}" class="fields" name="companyName"
                                                   value="{{companyName}}"
                                                   required>
                                            <br><br>
                                        </div>
                                        <div class="col-6">
                                            <label for="email{{id}}">Email<span class="error">*</span></label><br>
                                            <input type="email" value="{{email}}" class="fields" id="email{{id}}"
                                                   name="email"
                                                   required>
                                            <br><br>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <label for="phoneNumber{{id}}">Phone number<span
                                                    class="error">*</span></label><br>
                                            <input type="tel" value="{{phoneNumber}}" class="fields"
                                                   id="phoneNumber{{id}}" name="phoneNumber"
                                                   required>
                                            <br><br>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <label for="address{{id}}">Address<span class="error">*</span></label><br>
                                            <input type="text" value="{{address}}" class="field" id="address{{id}}"
                                                   name="address"
                                                   required>
                                            <br><br>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label for="country{{id}}">Country<span class="error">*</span></label><br>
                                    <input type="text" value="{{country}}" class="fields" id="country{{id}}"
                                           name="country"
                                           required>
                                    <br><br>
                                </div>
                                <div class="col-6">
                                    <label for="city{{id}}">City<span class="error">*</span></label><br>
                                    <input type="text" value="{{city}}" class="fields" id="city{{id}}" name="city"
                                           required>
                                    <br><br>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <label for="description{{id}}">Company description<span
                                            class="error">*</span></label>
                                    <br>
                                    <textarea maxlength="250" class="textarea_component" id="description{{id}}"
                                              name="description"
                                              rows="4"
                                              cols="25" required>{{description}}</textarea>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close
                                </button>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</main>

{{/company}}
<!--Main layout-->


</body>
</html>