<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jobs - My Profile</title>

    {{>fragments/links}}
    <link rel="stylesheet" href="../static/style/navigation-style.css">
    <link rel="stylesheet" href="../static/style/company-profile-style.css">
    <!-- Page style -->

</head>
<body>

<!--Main Navigation-->
<header>

    {{>fragments/sidebar}}
    {{>fragments/navbar}}

</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 6%; margin-left: 3%">
    <div class="container pt-4">
        <div id="content">
            <div class="formm">
                <form class="form-container" method="post" enctype="multipart/form-data">
                    {{#employer}}
                    <div class="row" id="myForm">
                        <div class="col-6">
                            <p id="page-title"><b>My Profile</b></p>

                            <label for="companyName"><b>Company name</b></label><br>
                            <input maxlength="100" id="companyName" name="name" disabled value="{{companyName}}">
                            <br><br>
                            <label for="street"><b>Street</b></label><br>
                            <input type="text" value="{{street}}" id="street" name="street" disabled>
                            <br><br>
                        </div>
                        <div class="col-6">
                            <div id="editButton">
                                <button class="btn btn-primary btn-lg" href="#">Edit</button>
                            </div>
                            <br>
                            <label for="email"><b>Email</b></label><br>
                            <input type="email" value="{{email}}" id="email" name="email" disabled>
                            <br><br>
                        </div>
                        <div class="col-6">
                            <label for="country"><b>Country</b></label><br>
                            <input type="text" value="{{country}}" id="country" name="country" disabled>
                            <br><br>
                        </div>
                        <div class="col-6">
                            <label for="city"><b>City</b></label><br>
                            <input type="text" value="{{city}}" id="city" name="city" disabled>
                            <br><br>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label for="description"><b>Company description</b></label>
                                <br>
                                <textarea maxlength="250" class="textarea_component" id="description" name="description"
                                          rows="4"
                                          cols="25" disabled>{{description}}</textarea>
                            </div>
                        </div>
                        {{/employer}}
                    </div>
                </form>
            </div>
        </div>
    </div>


</main>

<!--Main layout-->


</body>
</html>