<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jobs - Users</title>

    {{>fragments/links}}
    <link rel="stylesheet" href="../static/style/navigation-style.css">
    <link rel="stylesheet" href="../static/style/users-company-style.css">
    <!-- Page style -->

</head>
<body>

<!--Main Navigation-->
<header>

    {{>fragments/sidebar}}
    {{>fragments/navbar}}

</header>
<!--Main Navigation-->

<!--Main layout-->

<main>
    <div class="formm">
        <p id="page-title"><b>Users company</b></p>
        <div class="container-fluid pt-4 table-responsive-lg">
            <div class="tableFixHead">
                <table class="table table-bordered table-sm dashboard-table">
                    <thead>
                    <tr>
                        <th class="col1"></th>
                        <th class="col4">First name</th>
                        <th class="col4">Last name</th>
                        <th class="col-5">Email</th>
                        <th class="col2">Role</th>

                    </tr>
                    </thead>

                    <tbody>
                    {{#usersCompany}}
                    <tr>
                        <td class="col1">
                            <div>
                                <a class="hidden-arrow fa fa-ellipsis-v"
                                   role="button" data-mdb-toggle="dropdown">
                                </a>
                                <ul class="dropdown-menu">

                                    <li>
                                        <button type="button" class="btn btn-sm"
                                                data-mdb-toggle="modal"
                                                data-mdb-target="#delete{{id}}">
                                            <i class="fa-regular fa-trash-can"></i>&nbsp;Delete
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td class="col4">{{firstName}}</td>
                        <td class="col4">{{lastName}}</td>
                        <td class="col-5">{{email}}</td>
                        <td class="col2">{{role}}</td>
                    </tr>
                    <!-- Modal Delete -->
                    <div class="modal fade" id="delete{{id}}" tabindex="-1" role="dialog"
                         aria-labelledby="deleteUserTitle{{id}}" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <form action="/delete-user/{{userCompany.id}}/{{id}}"
                                      method="POST">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteAnnouncementTitle{{id}}">
                                            Delete
                                            announcement {{firstName}} {{lastName}}</h5>
                                        <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="mymodal">
                                        Are you sure you want to permanently delete this user?
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                                data-mdb-dismiss="modal">Close
                                        </button>
                                        <button type="submit" class="btn btn-primary">Delete</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {{/usersCompany}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</main>

<!--Main layout-->
</body>
</html>